<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dddqmmx.mapper.DisplayMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dddqmmx.entity.Display">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="display_type_id" property="displayTypeId" />
        <result column="cover_image" property="coverImage" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="publish_user_id" property="publishUserId" />
    </resultMap>

</mapper>
