<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dddqmmx.mapper.SignupMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dddqmmx.entity.Signup">
        <id column="id" property="id" />
        <result column="adivser_id" property="adivserId" />
        <result column="class_id" property="classId" />
        <result column="activity_id" property="activityId" />
        <result column="signup_student_id" property="signupStudentId" />
    </resultMap>

</mapper>
